@model NoodleApp.Models.Fortune

@{
    Layout = "_Layout";
}

<div class="container" style="text-align:center">

    <h1 class="homePageTitle">Welcome to the Noodlicious app! </h1>
    <br />
    <p>Got a hankering for instant noodles but feel overwhelmed by which one(s) to try? </p>
    <br />
    <p>Click on any of the choices in the navigation bar to start your experience.</p>
    <br />
    <p>@Model.fortune</p>
    <p><a asp-controller="Home" asp-action="Index">Feeling lucky?</a></p>

    <img src="http://img.hani.co.kr/imgdb/resize/2017/0726/00502989_20170726.JPG">
</div>