@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <h1>Welcome to the Noodlicious app! </h1>
    <p>Got a hankering for instant noodles but feel overwhelmed by which one(s) to try? </p> 
    <br/> 
    <p>Click on any of the in the navigation bar to start your experience.</p>
    <br/>

    <p>"Much noodle, so time" -- Confuscius</p>

    <img src="http://img.hani.co.kr/imgdb/resize/2017/0726/00502989_20170726.JPG">

</div>