<h1>Ohai noodlrs</h1>
<p><a asp-controller="Noodle" asp-action="GetAllNoodles">Click here to get all noodles</a></p>
<p><a asp-controller="Review" asp-action="Create">Add review</a></p>
<p><a asp-controller="Review" asp-action="ViewAll">View reviews</a></p>
<p><a asp-controller="Review" asp-action="Update">View reviews</a></p>