<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!--
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Noodlicious</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Noodle" asp-action="ViewAllNoodles">View All Noodles</a></li>
                <li><a asp-controller="Review" asp-action="ViewAll">View Reviews</a></li>
                <li><a asp-controller="Noodle" asp-action="SendNoodle">Create new noodle</a></li>
            </ul>
        </div>
    </nav>-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
        <a href="/" class="navbar-brand">warning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar7">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Link <span class="sr-only">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//codeply.com">Codeply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Ohai noodlrs</h1>
        <h3>Noodlicious</h3>
        <p>All you need to know about NOODLES</p>
    </div>
</body>
</html>

