

<h2> @ViewData["Message"]</h2>

<form method="post" asp-action="Create">

    @*<div>

        <label asp-for="Name">Name </label>

        <input asp-for="Name" />
    </div>*@

    <div>

        <input type="submit" value="Create" />
    </div>
</form>