<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>~Welcome to Noodlicious~</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
        <a href="/" class="navbar-brand">Noodlicious</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar7">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Noodle" asp-action="ViewAllNoodles">Search All Noodles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Review" asp-action="ViewAll">View reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Noodle" asp-action="SendNoodle">Create new noodle</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>