@using NoodleApp.Models
@model NoodleApp.Models.ReviewViewModel

<h2> @ViewData["Reviews"]</h2>
<p>@Model.NoodleId</p>
<form method="post" asp-action="Create">

	<label asp-for="@Model.Review.Name">Review: </label>
	<input asp-for="@Model.Review.Name" />
	<input asp-for="NoodleId" type="hidden" />

	<input type="submit" value="Create" />

</form>
