@using NoodleApp.Models
@model NoodleApp.Models.Review

<h2> @ViewData["Reviews"]</h2>

<form asp-action="Create">

	<label asp-for="Name">Name: </label>
	<input asp-for="Name" />
	<input type="hidden" asp-for="NoodleId" />

	<input type="submit" value="Create" />

</form>
