@using NoodleApp.Models
@model NoodleApp.Models.ReviewViewModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">

    <h2> Let us know what you think!</h2>
    <p>@Model.NoodleId</p>
    <form method="post" asp-action="Create">

        <label asp-for="@Model.Review.Name">Review: </label>
        <input asp-for="@Model.Review.Name" />
        <input asp-for="NoodleId" type="hidden" />

        <input type="submit" value="Create" />
    </form>
</div>