@using NoodleApp.Models
@model NoodleApp.Models.Review
@{
    Layout = "_Layout";
}

<div class="container-fluid">

    <h1>Update Review</h1>

    <form asp-action="Update">

        <label asp-for="Name"> Name: </label>
        <input asp-for="Name" />
        <input asp-for="NoodleId" type="hidden" />
        <input asp-controller="Review" asp-action="Update" type="submit" />
    </form>
</div>